
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: #999;
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

a {
  color: #999 !important;
}

footer.page-footer {
  bottom: 0;
  color: #999;
  text-transform: uppercase;
  text-align: left !important;
  padding: 0 1.5rem;
  height: 68px;
  margin-top: 0px !important;
}

ul.footer-menu {
  float: right;
  padding-top: 1rem;
  margin: 0;
  padding-bottom: 1rem;
}

ul.footer-menu li {
  line-height: 1.3;
  display: inline-block;
  padding: 0 15px;
}

footer.page-footer a {
  color: #999;
  letter-spacing: 0.8px;
  font-size: 12px;
  font-weight: 500;
}

ul.footer-menu a:hover {
  color: #fff !important;
  text-decoration: none;
}
