/* .modal.right .modal-dialog {
	position:absolute;
	top:0;
	right:0;
	margin:0;
}

.modal.right .modal-content {
	min-height:100vh;
	border:0;
} */

.bg-theme {
    background-color: #333545;
    padding: 10px 25px;
}


.btn-link:hover {
	color: #fff!important;
}